Flask/__pycache__/Example.cpython-38.pyc
Object Detection/.vscode/settings.json
Object Detection/Luminoth/.vscode/settings.json
Object Detection/imageAI/.vscode/settings.json
Chat Bot/.vscode/settings.json
Chat Bot/sentence_tokenizer.pickle
Chat Bot/db.sqlite3
Chat Bot/__pycache__/Flask Chat Bot.cpython-36.pyc
Flask/__pycache__/app.cpython-38.pyc
Flask/__pycache__/MoneyConverter.cpython-38.pyc
Chat Bot/__pycache__/Flask Vocal Chat Bot.cpython-36.pyc
Selenium/geckodriver.log
